
.header{
    height: 70px;
    background-color: #00ADEF ;
}

.header1{
    height: 50px;
    background-color: #0098D2;
}

.header_navbar-list{
    list-style: none;
}

.header_navbar{
    display: flex;
    justify-content:flex-end;
    padding-right: 134px;
}

.header_navbar-items,
.header1_navbar-items{
    display:inline-block;
    color: #fff;
    justify-content: space-between;
}

.header_navbar-list{
    margin: 20px 20px;
}



.header1_navbar-items{
    display: absolute;
   
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
.container_banner{
    display:flex;
    justify-content: center;
    margin: 60px 300px;

}

.table_items{
    background-image: linear-gradient(to right bottom, #ffa400, #e74c3c);
    height: auto;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(6,minmax(0,1fr));
    margin: 0 10%;
}

.items{
    color: black;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  background-color: #fff;
  border: 0 solid;
}

.items_size{
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
}

